[include]
  path = .gitconfig-common
  path = .gitconfig-macos

[init]
  defaultBranch = master

[user]
  name = Zoltán Reegn
  email = zoltan.reegn@gmail.com

[includeIf "gitdir:~/projects/"]
  path = .gitconfig-work
