[include]
  path = .gitconfig-common
  path = .gitconfig-macos

[includeIf "gitdir:~/projects/"]
  path = .gitconfig-work

[includeIf "gitdir:~/github/"]
  path = .gitconfig-private

[includeIf "gitdir:/usr/local/Homebrew/"]
  path = .gitconfig-private

[init]
  defaultBranch = master
