{:profiles {:Default {:default true
                      :sim 100
                      :delay 500
                      :alone 500
                      :held 500}}

; getting app id's with: osascript -e 'id of app "Slack"'}
 :applications {:Slack ["^com\\.tinyspeck\\.slackmacgap"]
                :Zoom ["^us\\.zoom\\.xos"]
                :iTerm ["^com\\.googlecode\\.iterm2"]}

 :layers {:caps-mode {:key :caps_lock
                      :alone {:key :escape}}}

 :simlayers {:w-mode {:key :w}
             :e-mode {:key :e}
             :r-mode {:key :r}
             :t-mode {:key :t}
             :a-mode {:key :a}
             :s-mode {:key :s}
             :d-mode {:key :d}
             :f-mode {:key :f}
             :g-mode {:key :g}
             :h-mode {:key :h}
             :j-mode {:key :j}
             :k-mode {:key :k}
             :l-mode {:key :l}}

 :main [{:des "Caps Mode"
         :rules [:caps-mode
                 ;; remap accent and tilde keys
                 [:##period :!Sgrave_accent_and_tilde]
                 [:##quote :grave_accent_and_tilde]]}

        {:des "Mouse mode"
         :rules [
                 [:m [["mouse-mode" 1] [:noti :mmode "Hit ESC to quit Mouse Mode"]] :f-mode]
                 :mouse-mode
                 [:escape [["mouse-mode" 0] [:noti :mmode]]] ; escape quits mouse mode
                 [:h {:mkey {:x -1536}}]
                 [:j {:mkey {:y 1536}}]
                 [:k {:mkey {:y -1536}}]
                 [:l {:mkey {:x 1536}}]
                 [:u {:pkey :button1}]
                 [:i {:pkey :button2}]]}

        {:des "window and tab navigation" ;
         :rules [:w-mode
                 [:##n :!Cn] ; new window
                 [:##q :!Cw] ; close window
                 ;; switch windows
                 [:##j :!CStab] ; previous window
                 [:##k :!Ctab]  ; next window

                 :t-mode
                 [:##n :!Ct] ; new tab
                 [:##q :!Cw] ; close tab
                 ;; switch tabs in most apps
                 [:##j :!CSopen_bracket] ; prev tab
                 [:##k :!CSclose_bracket] ; next tab

                 :e-mode ; switch windows of same app
                 [:##j :!CSgrave_accent_and_tilde]
                 [:##k :!Cgrave_accent_and_tilde]

                 ; history navigation
                 :h-mode
                 [:##j :!Cleft_arrow]
                 [:##k :!Cright_arrow]]}

        {:des "Delete mode"
         :rules [:d-mode
                 [:##h :delete_or_backspace]
                 [:##l :delete_forward]]}

        {:des "Use s + hjkl for scrolling"
         :rules [:s-mode
                 [:##h :home]
                 [:##l :end]
                 [:##j :page_down]
                 [:##k :page_up]]}

        {:des "f + hjkl as arrow keys"
         :rules [:f-mode
                 [:##h :left_arrow]
                 [:##j :down_arrow]
                 [:##k :up_arrow]
                 [:##l :right_arrow]]}

        {:des "use f and j as shift for symbols"
         :rules [
                 ;; when f is pressed, act as shift for symbols
                 :f-mode
                 [:##hyphen :!Shyphen]
                 [:##equal_sign :!Sequal_sign]
                 [:##open_bracket :!Sopen_bracket]
                 [:##close_bracket :!Sclose_bracket]
                 [:##semicolon :!Ssemicolon]
                 [:##quote :!Squote]
                 [:##comma :!Scomma]
                 [:##period :!Speriod]
                 [:##slash :!Sslash]
                 [:backslash :!Sbackslash]

                 ; when f is pressed, act as SHIFT for numbers 1 through 5
                 :f-mode
                 [:##6 :!S6]
                 [:##7 :!S7]
                 [:##8 :!S8]
                 [:##9 :!S9]
                 [:##0 :!S0]

                 ;; when j is pressed, act as shift for numbers 1 through 5
                 :j-mode
                 [:##1 :!S1]
                 [:##2 :!S2]
                 [:##3 :!S3]
                 [:##4 :!S4]
                 [:##5 :!S5]]}

        {:des "Rectancle window management"
         :rules [
                 [:w [["rectangle-mode" 1] [:noti :rmode "Hit ESC to quit rectangle-mode"]] :j-mode] ; j + w activates rectangle mode
                 :rectangle-mode
                 [:escape [["rectangle-mode" 0] [:noti :rmode]]] ; escape quits rectangle mode
                 [:##h :!TOleft_arrow]
                 [:##j :!TOdown_arrow]
                 [:##k :!TOup_arrow]
                 [:##l :!TOright_arrow]
                 [:##u :!TOu]
                 [:##i :!TOi]
                 [:##n :!TOj]
                 [:##m :!TOk]
                 [:##o :!TOd]
                 [:##p :!TOe]]}

        {:des "iTerm bindings"
         :rules [[:condi :iTerm :j-mode]
                 [:##r :!Tr]
                 [:##t :!Tt]
                 [:##c :!Oc]]}

        ; some modal
        {:des "Zoom bindings"
         :rules [
                 :Zoom
                 ; j + a toggles audio, j + v toggles video
                 [:condi :Zoom :j-mode]
                 [:a :!CSa]
                 [:v :!CSv]]}]}
